---
// 引入React組件
import ChatInterface from '../components/ChatInterface.jsx';
---

<html>
  <head>
  <meta charset="UTF-8">
    <title>我的聊天助理</title>
  </head>
  <body>
    <h1>歡迎來到我的聊天助理</h1>
    <ChatInterface />
  </body>
</html>
